:root{
    --main-text-color:#212121;
    --second-text-color:#fff;
    --description-text-color:#757575;
    --active-span-color:#2196F3;
    --footer-link-color:rgba(255, 255, 255, 0.6);
    --hero-background:#2F303A;
}

body{
    font-family: 'Roboto', sans-serif;
    color:var(--main-text-color);
}

.logo{
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.192;
    letter-spacing: 0.03em;
    color: var(--main-text-color);
}

.logo span{
    color: var(--active-span-color);
}

.nav-item{
    font-weight: 500;
    font-size: 14px;
    line-height: 1.143;
    letter-spacing: 0.02em;
    color: var(--main-text-color);
}

.contacts-item{
    font-weight: 500;
    font-size: 14px;
    line-height: 1.143;
    letter-spacing: 0.02em;
    color: var(--main-text-color);
}

.hero-section{
    background: var(--hero-background);
}

.hero-section h1{
    font-weight: 900;
    font-size: 60px;
    line-height: 1.363;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--second-text-color);
}

.order{
    font-weight: 700;
    font-size: 16px;
    line-height: 1.875;
    letter-spacing: 0.06em;
    color: var(--second-text-color);
    cursor: pointer;
    background: var(--active-span-color);
}

.item-title{
    font-weight: 700;
    font-size: 14px;
    line-height: 1.142;
    letter-spacing: 0.03em;
    color: var(--main-text-color);
}

.benefits-description{
    font-weight: 400;
    font-size: 14px;
    line-height: 1.714;
    letter-spacing: 0.03em;
    color:var(--description-text-color);
}

.doing-title{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.166;
    letter-spacing: 0.03em;
    color: var(--main-text-color);
}

.command-title{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.166;
    letter-spacing: 0.03em;
    color: var(--main-text-color);
}

.team-name{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.187;
    letter-spacing: 0.03em;
    color: var(--main-text-color);
}

.team-role{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.187;
    letter-spacing: 0.03em;
    color: var(--description-text-color);
}

.bottom-line{
    background: var(--hero-background);
}

.footer-logo{
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.192;
    letter-spacing: 0.03em;
    color: var(--second-text-color);
}

.footer-logo span{
    color: var(--active-span-color);
}

.location{
    font-weight: 400;
    font-size: 14px;
    line-height: 1.714;
    letter-spacing: 0.03em;
    color: var(--second-text-color);
}

.footer-contacts-item{
    font-style: normal;
}

.tel, .mail{
    font-weight: 400;
    font-size: 14px;
    line-height: 1.714;
    letter-spacing: 0.03em;
    color: var(--footer-link-color);
    font-style: normal;
}

.btn{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.625;
    letter-spacing: 0.03em;
    color: var(--second-text-color);
    background: var(--active-span-color);
}

.oll-works-items h3{
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--main-text-color);
}

.oll-works-items p{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.875;
    letter-spacing: 0.03em;
    color: var(--description-text-color);
}